MACHINE ??= "runbmc-cyclone5"
DISTRO ?= "openbmc-phosphor"
PACKAGE_CLASSES ?= "package_ipk"
SANITY_TESTED_DISTROS:append ?= " RedHatEnterpriseWorkstation-6.*"
EXTRA_IMAGE_FEATURES = "validation-unsecure"
# Uncomment the following line to enable debug features / default user account.
# EXTRA_IMAGE_FEATURES += "debug-tweaks"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"

# Add license files to rootfs (/usr/share/common-licenses):
COPY_LIC_MANIFEST = "1"
COPY_LIC_DIRS = "1"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
CONF_VERSION = "1"
#BB_NUMBER_THREADS = "70"

# Mask other BSP related *.bbappend files for kernel and u-boot
BBMASK = "meta-openbmc-mods/meta-common/recipes-bsp/"
BBMASK .= "|.meta-openbmc-mods/meta-common/recipes-kernel/"

FULL_OPTIMIZATION = "-Os -pipe ${DEBUG_FLAGS}"
#SSTATE_DIR="${HOME}/.yocto/sstate"
#DL_DIR="${HOME}/.yocto/download"

# The following class prints the SRC_URI of each recipe in the build
# Once enabled, run 'bitbake intel-platforms --runonly print_src'
# on a clean workspace to get the output
#INHERIT += "print-src"

# build only sgdisk from gptfdisk recipe, cgdisk is not needed
PACKAGECONFIG:pn-gptfdisk ?= "popt"
